*{
    font-size: 50px;
}
body{
    background-color: #ccc;
}
.baslik{
    display: flex;
    justify-content: center;
}
.butonlar{
    display: flex;
    justify-content: center;
}
.buton{
    margin: 10px;
    border: 5px solid white;
    color: black;
    width: 500px;
}
.buton:hover{
    background-color: antiquewhite;
    border-color: black;
    color: cadetblue;
}
.sayac{
    display: flex;
    justify-content: center;
}